/* 모달 창 전체 화면을 덮는 배경 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

/* 모달 창의 내용 */
.modal-content {
  padding: var(--space-lg);
  border-radius: var(--radius-sm);
  background-color: var(--color-white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* 닫기 버튼 */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* 모달 하단 취소 및 저장 버튼 */
.modalFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
.cancelButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--color-sunset);
  background-color: #fff;
  cursor: pointer;
}
.cancelButton:hover {
  background-color: var(--color-sunset-hover);
  color: var(--color-white);
}
.saveButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--color-sunset);
  color: white;
}

.saveButton:hover {
  background-color: var(--color-sunset-hover);
}

.textarea {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
