.recipe {
  max-width: 640px;
  height: 720px;
  overflow-y: auto;
}

.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}
.thumbnailContainer {
  position: relative;
  width: 100%;
  height: 300px;
  margin: var(--space-md) 0;
  display: flex;
  justify-content: center;
}
.thumbnail {
  height: 300px;
}
.meta {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.meta .time {
  display: flex;
  justify-content: space-between;
  gap: var(--space-lg);
  align-items: center;
}
.meta .time .timeLabelContainer {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
  align-items: center;
}
.meta .time .timeDataContainer {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}
.meta .portion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-lg);
}
.meta .portion .portionLabelContainer {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}
.meta .portion .portionDataContainer {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}
.meta .metaIcon {
  display: flex;
  align-items: center;
  color: var(--color-sunset);
}
.meta .metaData {
  display: flex;
  align-items: center;
  color: var(--color-sunset-hover);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-md);
}
.content > h3 {
  margin: 0;
}

.step {
  font-size: var(--font-lg);
  color: var(--color-sunset);
}
