.alarmModalContainer {
  background-color: #ffffff;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 2000;
  right: 0;
  top: 30px;
}

.notificationLink {
  text-decoration: none;
  color: black;
}

.notificationItem {
  border-bottom: 1px solid #e0e0e0;
  padding: 0.5rem 0;
}

.notificationIcon {
  width: 30px;
  margin-right: 10px;
}

.notificationSummary {
  font-weight: bold;
}

.notificationDate,
.notificationDescription,
.notificationType {
  font-size: 12px;
  color: #757575;
}

.notificationClose {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  color: #a7a7a7;
  transition: color 0.3s ease;
}

.notificationClose:hover {
  color: #000;
  /* 호버 시 색상 변경 */
}