.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputTitle {
  width: 100%;
  height: 38px;
  margin-bottom: var(--space-md);
  border: none;
  font-size: var(--space-md);
}
.inputTitle:focus {
  outline: none;
}

.optionsContainer {
  margin-bottom: var(--space-sm);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
.option {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
}
.option > input {
  height: 38px;
  padding: var(--space-sm);
  border: none;
  background-color: #f8f8f8;
  font-size: var(--space-md);
}
.option > input:focus {
  outline: none;
}
.option > button {
  display: flex;
  align-items: center;
}

.deleteOptionBtn {
  font-size: var(--space-md);
}
.deleteOptionBtn.disabled {
  cursor: default;
}
.deleteOptionBtn.abled:hover {
  color: var(--color-sunset-hover);
}

.addOptionBtn {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  font-size: var(--space-md);
}
.addOptionBtn:hover {
  color: var(--color-sunset-hover);
}
