.feedItem {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-lg);
  padding: var(--space-sm) var(--space-sm) var(--space-2xl) var(--space-sm);
  margin-bottom: var(--space-2xl);
  border-bottom: 1px solid;
  border-bottom-color: rgb(var(--color-separator));
}
.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedInfoContainer {
  height: 100%;
  display: flex;
  gap: var(--space-md);
}
.profileImg {
  height: 40px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.profileImg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.feedInfo {
  height: 100%;
}
.wrTime,
.location {
  height: 50%;
}
.wrTime {
  display: flex;
  align-items: center;
}
.wrTime .writer {
  font-weight: var(--weight-bold);
}
.wrTime .time {
  color: var(--color-grey);
}
.location {
  display: flex;
  align-items: center;
}

.feedOptionsContainer {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.options {
  position: absolute;
  top: 30px;
  right: 0;
  width: 80px;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--color-sunset);
  border-left: 1px solid var(--color-sunset);
  border-right: 1px solid var(--color-sunset);
  background-color: var(--color-white);
}
.options li {
  height: 30px;
  border-bottom: 1px solid var(--color-sunset);
}
.options li:hover {
  background-color: var(--color-sunset);
}
.options li:hover button {
  color: var(--color-white);
}
.options li button {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-lg);
}
.iconbar {
  display: flex;
  gap: var(--space-sm);
}
.iconbar span {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}
.comment {
  min-height: 40px;
  display: flex;
  align-items: center;
}
.comment textarea {
  width: 90%;
  resize: none;
  border: none;
  outline: none;
  font-size: var(--font-md);
  display: flex;
  align-items: center;
}

.comment .addCommentBtn {
  width: 56px;
  height: 28px;
  color: var(--color-white);
  background-color: var(--color-sunset);
  padding: 0;
  border-radius: var(--radius-sm);
}
.comment .addCommentBtn:hover {
  background-color: var(--color-sunset-hover);
}
