.family{
  width: 1000px;
  background-color: var(--color-white);
  margin: var(--space-xl) 0;
  border-radius: var(--radius-md);
  padding: var(--space-md);
}

.personalInfo {
    padding: 10px;
  }
 
  .personalInfo h1 {
    position: relative;
    bottom: 20px;
  }
  .profileContainer {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .profileContainer span {
    font-size: 25px; /* 글씨 크기를 키웁니다 */
    font-weight: bold; /* 글씨를 굵게 만듭니다 */
  }


  .profileInfo {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: flex-start; /* 이미지와 버튼을 왼쪽 정렬 */
  }
  
  .profileImg {
    width: 500px;
    height: 300px;
    border-radius: 8%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .editButton {
    background-color: #A0D6B4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .editImgButton {
    background-color: #E1888B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    height: 50px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    top: 115px;
}

.saveImgButton {
    margin-left: 390px; 
    background-color: #E1888B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    height: 50px; 
    align-items: center; 
    justify-content: center; 
}

.editImgButton:hover, .saveImgButton:hover {
    background-color: #ff4d4d;
}
  
  .editNick{
    border-radius: 6px;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
  }

  .editNickButton{
    background-color: #E1888B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 190px;
  }

  .halfHr{
    width: 90%; /* hr 태그의 길이를 절반으로 설정 */
  margin-left: 0; /* 중앙 정렬 */
  margin-right: auto; /* 중앙 정렬 */
  }

  .titleAndButton {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 20px; /* 아래쪽에 약간의 간격 추가 */
    width: auto; /* div가 컨텐츠에 맞게 크기 조정 */
    padding: 0; /* 불필요한 패딩 제거 */
  }
  
  .titleAndButton h1 {
    position: relative;
    top: 1px;
  }
